.App {
  width: 100%;
}

.main-nav-item {
  padding: 16px;
  transition: ease-in-out;
}

.main-nav-item:hover {
  transform: scale(1.2);
}

.nav-item-icon {
  margin: 0px 8px;
}

.count-change:hover {
  color: "#007bff";
}
